[submodule "client-gateway"]
	path = client-gateway
	url = https://github.com/Nest-Microservices-Jere/client-gateway.git
[submodule "product-microservice"]
	path = product-microservice
	url = https://github.com/Nest-Microservices-Jere/product-microservice.git
[submodule "order-microservice"]
	path = order-microservice
	url = https://github.com/Nest-Microservices-Jere/order-microservice.git
[submodule "products-ms"]
	path = products-ms
	url = https://github.com/Nest-Microservices-Jere/product-microservice.git
[submodule "orders-ms"]
	path = orders-ms
	url = https://github.com/Nest-Microservices-Jere/order-microservice.git
